/* reset styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,200&display=swap");
* {
  color: #D7F171;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto Mono;
  background: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #D7F171;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: yellow;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: purple;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0px;
}

.gap-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-val {
  justify-content: flex-start;
}

.justify-val {
  justify-content: flex-end;
}

.justify-val {
  justify-content: center;
}

.justify-val {
  justify-content: space-between;
}

.justify-val {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #D7F171;
}

.text-hover-primary:hover {
  color: #D7F171;
}

.bg-primary {
  background-color: #D7F171;
}

.text-primary-light-0 {
  color: #d7f171;
}

.text-hover-primary-light-0:hover {
  color: #d7f171;
}

.bg-primary-light-0 {
  background-color: #d7f171;
}

.text-primary-light-1 {
  color: #dbf27f;
}

.text-hover-primary-light-1:hover {
  color: #dbf27f;
}

.bg-primary-light-1 {
  background-color: #dbf27f;
}

.text-primary-light-2 {
  color: #dff48d;
}

.text-hover-primary-light-2:hover {
  color: #dff48d;
}

.bg-primary-light-2 {
  background-color: #dff48d;
}

.text-primary-light-3 {
  color: #e3f59c;
}

.text-hover-primary-light-3:hover {
  color: #e3f59c;
}

.bg-primary-light-3 {
  background-color: #e3f59c;
}

.text-primary-light-4 {
  color: #e7f7aa;
}

.text-hover-primary-light-4:hover {
  color: #e7f7aa;
}

.bg-primary-light-4 {
  background-color: #e7f7aa;
}

.text-primary-light-5 {
  color: #ebf8b8;
}

.text-hover-primary-light-5:hover {
  color: #ebf8b8;
}

.bg-primary-light-5 {
  background-color: #ebf8b8;
}

.text-primary-light-6 {
  color: #eff9c6;
}

.text-hover-primary-light-6:hover {
  color: #eff9c6;
}

.bg-primary-light-6 {
  background-color: #eff9c6;
}

.text-primary-light-7 {
  color: #f3fbd4;
}

.text-hover-primary-light-7:hover {
  color: #f3fbd4;
}

.bg-primary-light-7 {
  background-color: #f3fbd4;
}

.text-primary-light-8 {
  color: #f7fce3;
}

.text-hover-primary-light-8:hover {
  color: #f7fce3;
}

.bg-primary-light-8 {
  background-color: #f7fce3;
}

.text-primary-dark-0 {
  color: #d7f171;
}

.text-hover-primary-black-0:hover {
  color: #d7f171;
}

.bg-primary-dark-0 {
  background-color: #d7f171;
}

.text-primary-dark-1 {
  color: #c2d966;
}

.text-hover-primary-black-1:hover {
  color: #c2d966;
}

.bg-primary-dark-1 {
  background-color: #c2d966;
}

.text-primary-dark-2 {
  color: #acc15a;
}

.text-hover-primary-black-2:hover {
  color: #acc15a;
}

.bg-primary-dark-2 {
  background-color: #acc15a;
}

.text-primary-dark-3 {
  color: #97a94f;
}

.text-hover-primary-black-3:hover {
  color: #97a94f;
}

.bg-primary-dark-3 {
  background-color: #97a94f;
}

.text-primary-dark-4 {
  color: #819144;
}

.text-hover-primary-black-4:hover {
  color: #819144;
}

.bg-primary-dark-4 {
  background-color: #819144;
}

.text-primary-dark-5 {
  color: #6c7939;
}

.text-hover-primary-black-5:hover {
  color: #6c7939;
}

.bg-primary-dark-5 {
  background-color: #6c7939;
}

.text-primary-dark-6 {
  color: #56602d;
}

.text-hover-primary-black-6:hover {
  color: #56602d;
}

.bg-primary-dark-6 {
  background-color: #56602d;
}

.text-primary-dark-7 {
  color: #414822;
}

.text-hover-primary-black-7:hover {
  color: #414822;
}

.bg-primary-dark-7 {
  background-color: #414822;
}

.text-primary-dark-8 {
  color: #2b3017;
}

.text-hover-primary-black-8:hover {
  color: #2b3017;
}

.bg-primary-dark-8 {
  background-color: #2b3017;
}

.text-secondary {
  color: #533939;
}

.text-hover-secondary:hover {
  color: #533939;
}

.bg-secondary {
  background-color: #533939;
}

.text-secondary-light-0 {
  color: #533939;
}

.text-hover-secondary-light-0:hover {
  color: #533939;
}

.bg-secondary-light-0 {
  background-color: #533939;
}

.text-secondary-light-1 {
  color: #644d4d;
}

.text-hover-secondary-light-1:hover {
  color: #644d4d;
}

.bg-secondary-light-1 {
  background-color: #644d4d;
}

.text-secondary-light-2 {
  color: #756161;
}

.text-hover-secondary-light-2:hover {
  color: #756161;
}

.bg-secondary-light-2 {
  background-color: #756161;
}

.text-secondary-light-3 {
  color: #877474;
}

.text-hover-secondary-light-3:hover {
  color: #877474;
}

.bg-secondary-light-3 {
  background-color: #877474;
}

.text-secondary-light-4 {
  color: #988888;
}

.text-hover-secondary-light-4:hover {
  color: #988888;
}

.bg-secondary-light-4 {
  background-color: #988888;
}

.text-secondary-light-5 {
  color: #a99c9c;
}

.text-hover-secondary-light-5:hover {
  color: #a99c9c;
}

.bg-secondary-light-5 {
  background-color: #a99c9c;
}

.text-secondary-light-6 {
  color: #bab0b0;
}

.text-hover-secondary-light-6:hover {
  color: #bab0b0;
}

.bg-secondary-light-6 {
  background-color: #bab0b0;
}

.text-secondary-light-7 {
  color: #cbc4c4;
}

.text-hover-secondary-light-7:hover {
  color: #cbc4c4;
}

.bg-secondary-light-7 {
  background-color: #cbc4c4;
}

.text-secondary-light-8 {
  color: #ddd7d7;
}

.text-hover-secondary-light-8:hover {
  color: #ddd7d7;
}

.bg-secondary-light-8 {
  background-color: #ddd7d7;
}

.text-secondary-dark-0 {
  color: #533939;
}

.text-hover-secondary-black-0:hover {
  color: #533939;
}

.bg-secondary-dark-0 {
  background-color: #533939;
}

.text-secondary-dark-1 {
  color: #4b3333;
}

.text-hover-secondary-black-1:hover {
  color: #4b3333;
}

.bg-secondary-dark-1 {
  background-color: #4b3333;
}

.text-secondary-dark-2 {
  color: #422e2e;
}

.text-hover-secondary-black-2:hover {
  color: #422e2e;
}

.bg-secondary-dark-2 {
  background-color: #422e2e;
}

.text-secondary-dark-3 {
  color: #3a2828;
}

.text-hover-secondary-black-3:hover {
  color: #3a2828;
}

.bg-secondary-dark-3 {
  background-color: #3a2828;
}

.text-secondary-dark-4 {
  color: #322222;
}

.text-hover-secondary-black-4:hover {
  color: #322222;
}

.bg-secondary-dark-4 {
  background-color: #322222;
}

.text-secondary-dark-5 {
  color: #2a1d1d;
}

.text-hover-secondary-black-5:hover {
  color: #2a1d1d;
}

.bg-secondary-dark-5 {
  background-color: #2a1d1d;
}

.text-secondary-dark-6 {
  color: #211717;
}

.text-hover-secondary-black-6:hover {
  color: #211717;
}

.bg-secondary-dark-6 {
  background-color: #211717;
}

.text-secondary-dark-7 {
  color: #191111;
}

.text-hover-secondary-black-7:hover {
  color: #191111;
}

.bg-secondary-dark-7 {
  background-color: #191111;
}

.text-secondary-dark-8 {
  color: #110b0b;
}

.text-hover-secondary-black-8:hover {
  color: #110b0b;
}

.bg-secondary-dark-8 {
  background-color: #110b0b;
}

.text-dark {
  color: #292929;
}

.text-hover-dark:hover {
  color: #292929;
}

.bg-dark {
  background-color: #292929;
}

.text-dark-light-0 {
  color: #292929;
}

.text-hover-dark-light-0:hover {
  color: #292929;
}

.bg-dark-light-0 {
  background-color: #292929;
}

.text-dark-light-1 {
  color: #3e3e3e;
}

.text-hover-dark-light-1:hover {
  color: #3e3e3e;
}

.bg-dark-light-1 {
  background-color: #3e3e3e;
}

.text-dark-light-2 {
  color: #545454;
}

.text-hover-dark-light-2:hover {
  color: #545454;
}

.bg-dark-light-2 {
  background-color: #545454;
}

.text-dark-light-3 {
  color: dimgray;
}

.text-hover-dark-light-3:hover {
  color: dimgray;
}

.bg-dark-light-3 {
  background-color: dimgray;
}

.text-dark-light-4 {
  color: #7f7f7f;
}

.text-hover-dark-light-4:hover {
  color: #7f7f7f;
}

.bg-dark-light-4 {
  background-color: #7f7f7f;
}

.text-dark-light-5 {
  color: #949494;
}

.text-hover-dark-light-5:hover {
  color: #949494;
}

.bg-dark-light-5 {
  background-color: #949494;
}

.text-dark-light-6 {
  color: darkgray;
}

.text-hover-dark-light-6:hover {
  color: darkgray;
}

.bg-dark-light-6 {
  background-color: darkgray;
}

.text-dark-light-7 {
  color: #bfbfbf;
}

.text-hover-dark-light-7:hover {
  color: #bfbfbf;
}

.bg-dark-light-7 {
  background-color: #bfbfbf;
}

.text-dark-light-8 {
  color: #d4d4d4;
}

.text-hover-dark-light-8:hover {
  color: #d4d4d4;
}

.bg-dark-light-8 {
  background-color: #d4d4d4;
}

.text-dark-dark-0 {
  color: #292929;
}

.text-hover-dark-black-0:hover {
  color: #292929;
}

.bg-dark-dark-0 {
  background-color: #292929;
}

.text-dark-dark-1 {
  color: #252525;
}

.text-hover-dark-black-1:hover {
  color: #252525;
}

.bg-dark-dark-1 {
  background-color: #252525;
}

.text-dark-dark-2 {
  color: #212121;
}

.text-hover-dark-black-2:hover {
  color: #212121;
}

.bg-dark-dark-2 {
  background-color: #212121;
}

.text-dark-dark-3 {
  color: #1d1d1d;
}

.text-hover-dark-black-3:hover {
  color: #1d1d1d;
}

.bg-dark-dark-3 {
  background-color: #1d1d1d;
}

.text-dark-dark-4 {
  color: #191919;
}

.text-hover-dark-black-4:hover {
  color: #191919;
}

.bg-dark-dark-4 {
  background-color: #191919;
}

.text-dark-dark-5 {
  color: #151515;
}

.text-hover-dark-black-5:hover {
  color: #151515;
}

.bg-dark-dark-5 {
  background-color: #151515;
}

.text-dark-dark-6 {
  color: #101010;
}

.text-hover-dark-black-6:hover {
  color: #101010;
}

.bg-dark-dark-6 {
  background-color: #101010;
}

.text-dark-dark-7 {
  color: #0c0c0c;
}

.text-hover-dark-black-7:hover {
  color: #0c0c0c;
}

.bg-dark-dark-7 {
  background-color: #0c0c0c;
}

.text-dark-dark-8 {
  color: #080808;
}

.text-hover-dark-black-8:hover {
  color: #080808;
}

.bg-dark-dark-8 {
  background-color: #080808;
}

.text-error {
  color: rgb(204, 0, 0);
}

.text-hover-error:hover {
  color: rgb(204, 0, 0);
}

.bg-error {
  background-color: rgb(204, 0, 0);
}

.text-error-light-0 {
  color: #cc0000;
}

.text-hover-error-light-0:hover {
  color: #cc0000;
}

.bg-error-light-0 {
  background-color: #cc0000;
}

.text-error-light-1 {
  color: #d11a1a;
}

.text-hover-error-light-1:hover {
  color: #d11a1a;
}

.bg-error-light-1 {
  background-color: #d11a1a;
}

.text-error-light-2 {
  color: #d63333;
}

.text-hover-error-light-2:hover {
  color: #d63333;
}

.bg-error-light-2 {
  background-color: #d63333;
}

.text-error-light-3 {
  color: #db4d4d;
}

.text-hover-error-light-3:hover {
  color: #db4d4d;
}

.bg-error-light-3 {
  background-color: #db4d4d;
}

.text-error-light-4 {
  color: #e06666;
}

.text-hover-error-light-4:hover {
  color: #e06666;
}

.bg-error-light-4 {
  background-color: #e06666;
}

.text-error-light-5 {
  color: #e68080;
}

.text-hover-error-light-5:hover {
  color: #e68080;
}

.bg-error-light-5 {
  background-color: #e68080;
}

.text-error-light-6 {
  color: #eb9999;
}

.text-hover-error-light-6:hover {
  color: #eb9999;
}

.bg-error-light-6 {
  background-color: #eb9999;
}

.text-error-light-7 {
  color: #f0b3b3;
}

.text-hover-error-light-7:hover {
  color: #f0b3b3;
}

.bg-error-light-7 {
  background-color: #f0b3b3;
}

.text-error-light-8 {
  color: #f5cccc;
}

.text-hover-error-light-8:hover {
  color: #f5cccc;
}

.bg-error-light-8 {
  background-color: #f5cccc;
}

.text-error-dark-0 {
  color: #cc0000;
}

.text-hover-error-black-0:hover {
  color: #cc0000;
}

.bg-error-dark-0 {
  background-color: #cc0000;
}

.text-error-dark-1 {
  color: #b80000;
}

.text-hover-error-black-1:hover {
  color: #b80000;
}

.bg-error-dark-1 {
  background-color: #b80000;
}

.text-error-dark-2 {
  color: #a30000;
}

.text-hover-error-black-2:hover {
  color: #a30000;
}

.bg-error-dark-2 {
  background-color: #a30000;
}

.text-error-dark-3 {
  color: #8f0000;
}

.text-hover-error-black-3:hover {
  color: #8f0000;
}

.bg-error-dark-3 {
  background-color: #8f0000;
}

.text-error-dark-4 {
  color: #7a0000;
}

.text-hover-error-black-4:hover {
  color: #7a0000;
}

.bg-error-dark-4 {
  background-color: #7a0000;
}

.text-error-dark-5 {
  color: #660000;
}

.text-hover-error-black-5:hover {
  color: #660000;
}

.bg-error-dark-5 {
  background-color: #660000;
}

.text-error-dark-6 {
  color: #520000;
}

.text-hover-error-black-6:hover {
  color: #520000;
}

.bg-error-dark-6 {
  background-color: #520000;
}

.text-error-dark-7 {
  color: #3d0000;
}

.text-hover-error-black-7:hover {
  color: #3d0000;
}

.bg-error-dark-7 {
  background-color: #3d0000;
}

.text-error-dark-8 {
  color: #290000;
}

.text-hover-error-black-8:hover {
  color: #290000;
}

.bg-error-dark-8 {
  background-color: #290000;
}

.text-info {
  color: rgb(255, 217, 0);
}

.text-hover-info:hover {
  color: rgb(255, 217, 0);
}

.bg-info {
  background-color: rgb(255, 217, 0);
}

.text-info-light-0 {
  color: #ffd900;
}

.text-hover-info-light-0:hover {
  color: #ffd900;
}

.bg-info-light-0 {
  background-color: #ffd900;
}

.text-info-light-1 {
  color: #ffdd1a;
}

.text-hover-info-light-1:hover {
  color: #ffdd1a;
}

.bg-info-light-1 {
  background-color: #ffdd1a;
}

.text-info-light-2 {
  color: #ffe133;
}

.text-hover-info-light-2:hover {
  color: #ffe133;
}

.bg-info-light-2 {
  background-color: #ffe133;
}

.text-info-light-3 {
  color: #ffe44d;
}

.text-hover-info-light-3:hover {
  color: #ffe44d;
}

.bg-info-light-3 {
  background-color: #ffe44d;
}

.text-info-light-4 {
  color: #ffe866;
}

.text-hover-info-light-4:hover {
  color: #ffe866;
}

.bg-info-light-4 {
  background-color: #ffe866;
}

.text-info-light-5 {
  color: #ffec80;
}

.text-hover-info-light-5:hover {
  color: #ffec80;
}

.bg-info-light-5 {
  background-color: #ffec80;
}

.text-info-light-6 {
  color: #fff099;
}

.text-hover-info-light-6:hover {
  color: #fff099;
}

.bg-info-light-6 {
  background-color: #fff099;
}

.text-info-light-7 {
  color: #fff4b3;
}

.text-hover-info-light-7:hover {
  color: #fff4b3;
}

.bg-info-light-7 {
  background-color: #fff4b3;
}

.text-info-light-8 {
  color: #fff7cc;
}

.text-hover-info-light-8:hover {
  color: #fff7cc;
}

.bg-info-light-8 {
  background-color: #fff7cc;
}

.text-info-dark-0 {
  color: #ffd900;
}

.text-hover-info-black-0:hover {
  color: #ffd900;
}

.bg-info-dark-0 {
  background-color: #ffd900;
}

.text-info-dark-1 {
  color: #e6c300;
}

.text-hover-info-black-1:hover {
  color: #e6c300;
}

.bg-info-dark-1 {
  background-color: #e6c300;
}

.text-info-dark-2 {
  color: #ccae00;
}

.text-hover-info-black-2:hover {
  color: #ccae00;
}

.bg-info-dark-2 {
  background-color: #ccae00;
}

.text-info-dark-3 {
  color: #b39800;
}

.text-hover-info-black-3:hover {
  color: #b39800;
}

.bg-info-dark-3 {
  background-color: #b39800;
}

.text-info-dark-4 {
  color: #998200;
}

.text-hover-info-black-4:hover {
  color: #998200;
}

.bg-info-dark-4 {
  background-color: #998200;
}

.text-info-dark-5 {
  color: #806d00;
}

.text-hover-info-black-5:hover {
  color: #806d00;
}

.bg-info-dark-5 {
  background-color: #806d00;
}

.text-info-dark-6 {
  color: #665700;
}

.text-hover-info-black-6:hover {
  color: #665700;
}

.bg-info-dark-6 {
  background-color: #665700;
}

.text-info-dark-7 {
  color: #4d4100;
}

.text-hover-info-black-7:hover {
  color: #4d4100;
}

.bg-info-dark-7 {
  background-color: #4d4100;
}

.text-info-dark-8 {
  color: #332b00;
}

.text-hover-info-black-8:hover {
  color: #332b00;
}

.bg-info-dark-8 {
  background-color: #332b00;
}

.text-green {
  color: #c8ff01;
}

.text-hover-green:hover {
  color: #c8ff01;
}

.bg-green {
  background-color: #c8ff01;
}

.text-green-light-0 {
  color: #c8ff01;
}

.text-hover-green-light-0:hover {
  color: #c8ff01;
}

.bg-green-light-0 {
  background-color: #c8ff01;
}

.text-green-light-1 {
  color: #ceff1a;
}

.text-hover-green-light-1:hover {
  color: #ceff1a;
}

.bg-green-light-1 {
  background-color: #ceff1a;
}

.text-green-light-2 {
  color: #d3ff34;
}

.text-hover-green-light-2:hover {
  color: #d3ff34;
}

.bg-green-light-2 {
  background-color: #d3ff34;
}

.text-green-light-3 {
  color: #d9ff4d;
}

.text-hover-green-light-3:hover {
  color: #d9ff4d;
}

.bg-green-light-3 {
  background-color: #d9ff4d;
}

.text-green-light-4 {
  color: #deff67;
}

.text-hover-green-light-4:hover {
  color: #deff67;
}

.bg-green-light-4 {
  background-color: #deff67;
}

.text-green-light-5 {
  color: #e4ff80;
}

.text-hover-green-light-5:hover {
  color: #e4ff80;
}

.bg-green-light-5 {
  background-color: #e4ff80;
}

.text-green-light-6 {
  color: #e9ff99;
}

.text-hover-green-light-6:hover {
  color: #e9ff99;
}

.bg-green-light-6 {
  background-color: #e9ff99;
}

.text-green-light-7 {
  color: #efffb3;
}

.text-hover-green-light-7:hover {
  color: #efffb3;
}

.bg-green-light-7 {
  background-color: #efffb3;
}

.text-green-light-8 {
  color: #f4ffcc;
}

.text-hover-green-light-8:hover {
  color: #f4ffcc;
}

.bg-green-light-8 {
  background-color: #f4ffcc;
}

.text-green-dark-0 {
  color: #c8ff01;
}

.text-hover-green-black-0:hover {
  color: #c8ff01;
}

.bg-green-dark-0 {
  background-color: #c8ff01;
}

.text-green-dark-1 {
  color: #b4e601;
}

.text-hover-green-black-1:hover {
  color: #b4e601;
}

.bg-green-dark-1 {
  background-color: #b4e601;
}

.text-green-dark-2 {
  color: #a0cc01;
}

.text-hover-green-black-2:hover {
  color: #a0cc01;
}

.bg-green-dark-2 {
  background-color: #a0cc01;
}

.text-green-dark-3 {
  color: #8cb301;
}

.text-hover-green-black-3:hover {
  color: #8cb301;
}

.bg-green-dark-3 {
  background-color: #8cb301;
}

.text-green-dark-4 {
  color: #789901;
}

.text-hover-green-black-4:hover {
  color: #789901;
}

.bg-green-dark-4 {
  background-color: #789901;
}

.text-green-dark-5 {
  color: #648001;
}

.text-hover-green-black-5:hover {
  color: #648001;
}

.bg-green-dark-5 {
  background-color: #648001;
}

.text-green-dark-6 {
  color: #506600;
}

.text-hover-green-black-6:hover {
  color: #506600;
}

.bg-green-dark-6 {
  background-color: #506600;
}

.text-green-dark-7 {
  color: #3c4d00;
}

.text-hover-green-black-7:hover {
  color: #3c4d00;
}

.bg-green-dark-7 {
  background-color: #3c4d00;
}

.text-green-dark-8 {
  color: #283300;
}

.text-hover-green-black-8:hover {
  color: #283300;
}

.bg-green-dark-8 {
  background-color: #283300;
}

.text-blue {
  color: #8dd6db;
}

.text-hover-blue:hover {
  color: #8dd6db;
}

.bg-blue {
  background-color: #8dd6db;
}

.text-blue-light-0 {
  color: #8dd6db;
}

.text-hover-blue-light-0:hover {
  color: #8dd6db;
}

.bg-blue-light-0 {
  background-color: #8dd6db;
}

.text-blue-light-1 {
  color: #98dadf;
}

.text-hover-blue-light-1:hover {
  color: #98dadf;
}

.bg-blue-light-1 {
  background-color: #98dadf;
}

.text-blue-light-2 {
  color: #a4dee2;
}

.text-hover-blue-light-2:hover {
  color: #a4dee2;
}

.bg-blue-light-2 {
  background-color: #a4dee2;
}

.text-blue-light-3 {
  color: #afe2e6;
}

.text-hover-blue-light-3:hover {
  color: #afe2e6;
}

.bg-blue-light-3 {
  background-color: #afe2e6;
}

.text-blue-light-4 {
  color: #bbe6e9;
}

.text-hover-blue-light-4:hover {
  color: #bbe6e9;
}

.bg-blue-light-4 {
  background-color: #bbe6e9;
}

.text-blue-light-5 {
  color: #c6ebed;
}

.text-hover-blue-light-5:hover {
  color: #c6ebed;
}

.bg-blue-light-5 {
  background-color: #c6ebed;
}

.text-blue-light-6 {
  color: #d1eff1;
}

.text-hover-blue-light-6:hover {
  color: #d1eff1;
}

.bg-blue-light-6 {
  background-color: #d1eff1;
}

.text-blue-light-7 {
  color: #ddf3f4;
}

.text-hover-blue-light-7:hover {
  color: #ddf3f4;
}

.bg-blue-light-7 {
  background-color: #ddf3f4;
}

.text-blue-light-8 {
  color: #e8f7f8;
}

.text-hover-blue-light-8:hover {
  color: #e8f7f8;
}

.bg-blue-light-8 {
  background-color: #e8f7f8;
}

.text-blue-dark-0 {
  color: #8dd6db;
}

.text-hover-blue-black-0:hover {
  color: #8dd6db;
}

.bg-blue-dark-0 {
  background-color: #8dd6db;
}

.text-blue-dark-1 {
  color: #7fc1c5;
}

.text-hover-blue-black-1:hover {
  color: #7fc1c5;
}

.bg-blue-dark-1 {
  background-color: #7fc1c5;
}

.text-blue-dark-2 {
  color: #71abaf;
}

.text-hover-blue-black-2:hover {
  color: #71abaf;
}

.bg-blue-dark-2 {
  background-color: #71abaf;
}

.text-blue-dark-3 {
  color: #639699;
}

.text-hover-blue-black-3:hover {
  color: #639699;
}

.bg-blue-dark-3 {
  background-color: #639699;
}

.text-blue-dark-4 {
  color: #558083;
}

.text-hover-blue-black-4:hover {
  color: #558083;
}

.bg-blue-dark-4 {
  background-color: #558083;
}

.text-blue-dark-5 {
  color: #476b6e;
}

.text-hover-blue-black-5:hover {
  color: #476b6e;
}

.bg-blue-dark-5 {
  background-color: #476b6e;
}

.text-blue-dark-6 {
  color: #385658;
}

.text-hover-blue-black-6:hover {
  color: #385658;
}

.bg-blue-dark-6 {
  background-color: #385658;
}

.text-blue-dark-7 {
  color: #2a4042;
}

.text-hover-blue-black-7:hover {
  color: #2a4042;
}

.bg-blue-dark-7 {
  background-color: #2a4042;
}

.text-blue-dark-8 {
  color: #1c2b2c;
}

.text-hover-blue-black-8:hover {
  color: #1c2b2c;
}

.bg-blue-dark-8 {
  background-color: #1c2b2c;
}

.text-red {
  color: #e02525;
}

.text-hover-red:hover {
  color: #e02525;
}

.bg-red {
  background-color: #e02525;
}

.text-red-light-0 {
  color: #e02525;
}

.text-hover-red-light-0:hover {
  color: #e02525;
}

.bg-red-light-0 {
  background-color: #e02525;
}

.text-red-light-1 {
  color: #e33b3b;
}

.text-hover-red-light-1:hover {
  color: #e33b3b;
}

.bg-red-light-1 {
  background-color: #e33b3b;
}

.text-red-light-2 {
  color: #e65151;
}

.text-hover-red-light-2:hover {
  color: #e65151;
}

.bg-red-light-2 {
  background-color: #e65151;
}

.text-red-light-3 {
  color: #e96666;
}

.text-hover-red-light-3:hover {
  color: #e96666;
}

.bg-red-light-3 {
  background-color: #e96666;
}

.text-red-light-4 {
  color: #ec7c7c;
}

.text-hover-red-light-4:hover {
  color: #ec7c7c;
}

.bg-red-light-4 {
  background-color: #ec7c7c;
}

.text-red-light-5 {
  color: #f09292;
}

.text-hover-red-light-5:hover {
  color: #f09292;
}

.bg-red-light-5 {
  background-color: #f09292;
}

.text-red-light-6 {
  color: #f3a8a8;
}

.text-hover-red-light-6:hover {
  color: #f3a8a8;
}

.bg-red-light-6 {
  background-color: #f3a8a8;
}

.text-red-light-7 {
  color: #f6bebe;
}

.text-hover-red-light-7:hover {
  color: #f6bebe;
}

.bg-red-light-7 {
  background-color: #f6bebe;
}

.text-red-light-8 {
  color: #f9d3d3;
}

.text-hover-red-light-8:hover {
  color: #f9d3d3;
}

.bg-red-light-8 {
  background-color: #f9d3d3;
}

.text-red-dark-0 {
  color: #e02525;
}

.text-hover-red-black-0:hover {
  color: #e02525;
}

.bg-red-dark-0 {
  background-color: #e02525;
}

.text-red-dark-1 {
  color: #ca2121;
}

.text-hover-red-black-1:hover {
  color: #ca2121;
}

.bg-red-dark-1 {
  background-color: #ca2121;
}

.text-red-dark-2 {
  color: #b31e1e;
}

.text-hover-red-black-2:hover {
  color: #b31e1e;
}

.bg-red-dark-2 {
  background-color: #b31e1e;
}

.text-red-dark-3 {
  color: #9d1a1a;
}

.text-hover-red-black-3:hover {
  color: #9d1a1a;
}

.bg-red-dark-3 {
  background-color: #9d1a1a;
}

.text-red-dark-4 {
  color: #861616;
}

.text-hover-red-black-4:hover {
  color: #861616;
}

.bg-red-dark-4 {
  background-color: #861616;
}

.text-red-dark-5 {
  color: #701313;
}

.text-hover-red-black-5:hover {
  color: #701313;
}

.bg-red-dark-5 {
  background-color: #701313;
}

.text-red-dark-6 {
  color: #5a0f0f;
}

.text-hover-red-black-6:hover {
  color: #5a0f0f;
}

.bg-red-dark-6 {
  background-color: #5a0f0f;
}

.text-red-dark-7 {
  color: #430b0b;
}

.text-hover-red-black-7:hover {
  color: #430b0b;
}

.bg-red-dark-7 {
  background-color: #430b0b;
}

.text-red-dark-8 {
  color: #2d0707;
}

.text-hover-red-black-8:hover {
  color: #2d0707;
}

.bg-red-dark-8 {
  background-color: #2d0707;
}

.text-yellow {
  color: #e6d819;
}

.text-hover-yellow:hover {
  color: #e6d819;
}

.bg-yellow {
  background-color: #e6d819;
}

.text-yellow-light-0 {
  color: #e6d819;
}

.text-hover-yellow-light-0:hover {
  color: #e6d819;
}

.bg-yellow-light-0 {
  background-color: #e6d819;
}

.text-yellow-light-1 {
  color: #e9dc30;
}

.text-hover-yellow-light-1:hover {
  color: #e9dc30;
}

.bg-yellow-light-1 {
  background-color: #e9dc30;
}

.text-yellow-light-2 {
  color: #ebe047;
}

.text-hover-yellow-light-2:hover {
  color: #ebe047;
}

.bg-yellow-light-2 {
  background-color: #ebe047;
}

.text-yellow-light-3 {
  color: #eee45e;
}

.text-hover-yellow-light-3:hover {
  color: #eee45e;
}

.bg-yellow-light-3 {
  background-color: #eee45e;
}

.text-yellow-light-4 {
  color: #f0e875;
}

.text-hover-yellow-light-4:hover {
  color: #f0e875;
}

.bg-yellow-light-4 {
  background-color: #f0e875;
}

.text-yellow-light-5 {
  color: #f3ec8c;
}

.text-hover-yellow-light-5:hover {
  color: #f3ec8c;
}

.bg-yellow-light-5 {
  background-color: #f3ec8c;
}

.text-yellow-light-6 {
  color: #f5efa3;
}

.text-hover-yellow-light-6:hover {
  color: #f5efa3;
}

.bg-yellow-light-6 {
  background-color: #f5efa3;
}

.text-yellow-light-7 {
  color: #f8f3ba;
}

.text-hover-yellow-light-7:hover {
  color: #f8f3ba;
}

.bg-yellow-light-7 {
  background-color: #f8f3ba;
}

.text-yellow-light-8 {
  color: #faf7d1;
}

.text-hover-yellow-light-8:hover {
  color: #faf7d1;
}

.bg-yellow-light-8 {
  background-color: #faf7d1;
}

.text-yellow-dark-0 {
  color: #e6d819;
}

.text-hover-yellow-black-0:hover {
  color: #e6d819;
}

.bg-yellow-dark-0 {
  background-color: #e6d819;
}

.text-yellow-dark-1 {
  color: #cfc217;
}

.text-hover-yellow-black-1:hover {
  color: #cfc217;
}

.bg-yellow-dark-1 {
  background-color: #cfc217;
}

.text-yellow-dark-2 {
  color: #b8ad14;
}

.text-hover-yellow-black-2:hover {
  color: #b8ad14;
}

.bg-yellow-dark-2 {
  background-color: #b8ad14;
}

.text-yellow-dark-3 {
  color: #a19712;
}

.text-hover-yellow-black-3:hover {
  color: #a19712;
}

.bg-yellow-dark-3 {
  background-color: #a19712;
}

.text-yellow-dark-4 {
  color: #8a820f;
}

.text-hover-yellow-black-4:hover {
  color: #8a820f;
}

.bg-yellow-dark-4 {
  background-color: #8a820f;
}

.text-yellow-dark-5 {
  color: #736c0d;
}

.text-hover-yellow-black-5:hover {
  color: #736c0d;
}

.bg-yellow-dark-5 {
  background-color: #736c0d;
}

.text-yellow-dark-6 {
  color: #5c560a;
}

.text-hover-yellow-black-6:hover {
  color: #5c560a;
}

.bg-yellow-dark-6 {
  background-color: #5c560a;
}

.text-yellow-dark-7 {
  color: #454108;
}

.text-hover-yellow-black-7:hover {
  color: #454108;
}

.bg-yellow-dark-7 {
  background-color: #454108;
}

.text-yellow-dark-8 {
  color: #2e2b05;
}

.text-hover-yellow-black-8:hover {
  color: #2e2b05;
}

.bg-yellow-dark-8 {
  background-color: #2e2b05;
}

.text-orange {
  color: #ffa600;
}

.text-hover-orange:hover {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange-light-0 {
  color: #ffa600;
}

.text-hover-orange-light-0:hover {
  color: #ffa600;
}

.bg-orange-light-0 {
  background-color: #ffa600;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.text-hover-orange-light-2:hover {
  color: #ffb833;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.text-hover-orange-light-3:hover {
  color: #ffc14d;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.text-hover-orange-light-4:hover {
  color: #ffca66;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.text-hover-orange-light-5:hover {
  color: #ffd380;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-dark-0 {
  color: #ffa600;
}

.text-hover-orange-black-0:hover {
  color: #ffa600;
}

.bg-orange-dark-0 {
  background-color: #ffa600;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-black-1:hover {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.text-hover-orange-black-2:hover {
  color: #cc8500;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-black-3:hover {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996400;
}

.text-hover-orange-black-4:hover {
  color: #996400;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-black-5:hover {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-black-6:hover {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-black-7:hover {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-black-8:hover {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-purple {
  color: #a150e2;
}

.text-hover-purple:hover {
  color: #a150e2;
}

.bg-purple {
  background-color: #a150e2;
}

.text-purple-light-0 {
  color: #a150e2;
}

.text-hover-purple-light-0:hover {
  color: #a150e2;
}

.bg-purple-light-0 {
  background-color: #a150e2;
}

.text-purple-light-1 {
  color: #aa62e5;
}

.text-hover-purple-light-1:hover {
  color: #aa62e5;
}

.bg-purple-light-1 {
  background-color: #aa62e5;
}

.text-purple-light-2 {
  color: #b473e8;
}

.text-hover-purple-light-2:hover {
  color: #b473e8;
}

.bg-purple-light-2 {
  background-color: #b473e8;
}

.text-purple-light-3 {
  color: #bd85eb;
}

.text-hover-purple-light-3:hover {
  color: #bd85eb;
}

.bg-purple-light-3 {
  background-color: #bd85eb;
}

.text-purple-light-4 {
  color: #c796ee;
}

.text-hover-purple-light-4:hover {
  color: #c796ee;
}

.bg-purple-light-4 {
  background-color: #c796ee;
}

.text-purple-light-5 {
  color: #d0a8f1;
}

.text-hover-purple-light-5:hover {
  color: #d0a8f1;
}

.bg-purple-light-5 {
  background-color: #d0a8f1;
}

.text-purple-light-6 {
  color: #d9b9f3;
}

.text-hover-purple-light-6:hover {
  color: #d9b9f3;
}

.bg-purple-light-6 {
  background-color: #d9b9f3;
}

.text-purple-light-7 {
  color: #e3cbf6;
}

.text-hover-purple-light-7:hover {
  color: #e3cbf6;
}

.bg-purple-light-7 {
  background-color: #e3cbf6;
}

.text-purple-light-8 {
  color: #ecdcf9;
}

.text-hover-purple-light-8:hover {
  color: #ecdcf9;
}

.bg-purple-light-8 {
  background-color: #ecdcf9;
}

.text-purple-dark-0 {
  color: #a150e2;
}

.text-hover-purple-black-0:hover {
  color: #a150e2;
}

.bg-purple-dark-0 {
  background-color: #a150e2;
}

.text-purple-dark-1 {
  color: #9148cb;
}

.text-hover-purple-black-1:hover {
  color: #9148cb;
}

.bg-purple-dark-1 {
  background-color: #9148cb;
}

.text-purple-dark-2 {
  color: #8140b5;
}

.text-hover-purple-black-2:hover {
  color: #8140b5;
}

.bg-purple-dark-2 {
  background-color: #8140b5;
}

.text-purple-dark-3 {
  color: #71389e;
}

.text-hover-purple-black-3:hover {
  color: #71389e;
}

.bg-purple-dark-3 {
  background-color: #71389e;
}

.text-purple-dark-4 {
  color: #613088;
}

.text-hover-purple-black-4:hover {
  color: #613088;
}

.bg-purple-dark-4 {
  background-color: #613088;
}

.text-purple-dark-5 {
  color: #512871;
}

.text-hover-purple-black-5:hover {
  color: #512871;
}

.bg-purple-dark-5 {
  background-color: #512871;
}

.text-purple-dark-6 {
  color: #40205a;
}

.text-hover-purple-black-6:hover {
  color: #40205a;
}

.bg-purple-dark-6 {
  background-color: #40205a;
}

.text-purple-dark-7 {
  color: #301844;
}

.text-hover-purple-black-7:hover {
  color: #301844;
}

.bg-purple-dark-7 {
  background-color: #301844;
}

.text-purple-dark-8 {
  color: #20102d;
}

.text-hover-purple-black-8:hover {
  color: #20102d;
}

.bg-purple-dark-8 {
  background-color: #20102d;
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-0 {
  color: gray;
}

.text-hover-gray-light-0:hover {
  color: gray;
}

.bg-gray-light-0 {
  background-color: gray;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-dark-0 {
  color: gray;
}

.text-hover-gray-black-0:hover {
  color: gray;
}

.bg-gray-dark-0 {
  background-color: gray;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-black-1:hover {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-black-2:hover {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-black-3:hover {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-black-4:hover {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-black-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-black-6:hover {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-black-7:hover {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-black-8:hover {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #D7F171;
  box-shadow: 1px 3px 5px #533939;
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: dotted;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #2e2e2e;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #D7F171;
  border: 0;
}
.btn-primary:hover {
  background-color: #caec43;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #D7F171;
}
.btn-outlined-primary:hover {
  background-color: #D7F171;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #D7F171;
  color: #b19ff6;
}
.btn-complement-primary:hover {
  color: #D7F171;
  background-color: #b19ff6;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #533939;
  border: 0;
}
.btn-secondary:hover {
  background-color: #352424;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #533939;
}
.btn-outlined-secondary:hover {
  background-color: #533939;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #533939;
  color: #4e7171;
}
.btn-complement-secondary:hover {
  color: #533939;
  background-color: #4e7171;
}

.btn-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #292929;
  border: 0;
}
.btn-dark:hover {
  background-color: #101010;
}

.btn-outlined-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #292929;
}
.btn-outlined-dark:hover {
  background-color: #292929;
}

.btn-complement-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #292929;
  color: #434343;
}
.btn-complement-dark:hover {
  color: #292929;
  background-color: #434343;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: rgb(204, 0, 0);
  border: 0;
}
.btn-error:hover {
  background-color: #990000;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid rgb(204, 0, 0);
}
.btn-outlined-error:hover {
  background-color: rgb(204, 0, 0);
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: rgb(204, 0, 0);
  color: aqua;
}
.btn-complement-error:hover {
  color: rgb(204, 0, 0);
  background-color: aqua;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: rgb(255, 217, 0);
  border: 0;
}
.btn-info:hover {
  background-color: #ccae00;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid rgb(255, 217, 0);
}
.btn-outlined-info:hover {
  background-color: rgb(255, 217, 0);
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: rgb(255, 217, 0);
  color: #3351ff;
}
.btn-complement-info:hover {
  color: rgb(255, 217, 0);
  background-color: #3351ff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #c8ff01;
  border: 0;
}
.btn-green:hover {
  background-color: #a1cd00;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #c8ff01;
}
.btn-outlined-green:hover {
  background-color: #c8ff01;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #c8ff01;
  color: #6034ff;
}
.btn-complement-green:hover {
  color: #c8ff01;
  background-color: #6034ff;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #8dd6db;
  border: 0;
}
.btn-blue:hover {
  background-color: #66c8cf;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #8dd6db;
}
.btn-outlined-blue:hover {
  background-color: #8dd6db;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #8dd6db;
  color: #e7b7b4;
}
.btn-complement-blue:hover {
  color: #8dd6db;
  background-color: #e7b7b4;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #e02525;
  border: 0;
}
.btn-red:hover {
  background-color: #b81a1a;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #e02525;
}
.btn-outlined-red:hover {
  background-color: #e02525;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #e02525;
  color: #52e6e6;
}
.btn-complement-red:hover {
  color: #e02525;
  background-color: #52e6e6;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #e6d819;
  border: 0;
}
.btn-yellow:hover {
  background-color: #b8ad14;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #e6d819;
}
.btn-outlined-yellow:hover {
  background-color: #e6d819;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #e6d819;
  color: #4752eb;
}
.btn-complement-yellow:hover {
  color: #e6d819;
  background-color: #4752eb;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #ffa600;
  border: 0;
}
.btn-orange:hover {
  background-color: #cc8500;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #ffa600;
  color: #337aff;
}
.btn-complement-orange:hover {
  color: #ffa600;
  background-color: #337aff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #a150e2;
  border: 0;
}
.btn-purple:hover {
  background-color: #8a24db;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #a150e2;
}
.btn-outlined-purple:hover {
  background-color: #a150e2;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #a150e2;
  color: #ade97c;
}
.btn-complement-purple:hover {
  color: #a150e2;
  background-color: #ade97c;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #808080;
  border: 0;
}
.btn-gray:hover {
  background-color: #676767;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid #808080;
}
.btn-outlined-gray:hover {
  background-color: #808080;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: #808080;
  color: #9a9a9a;
}
.btn-complement-gray:hover {
  color: #808080;
  background-color: #9a9a9a;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 0;
}
.btn-black:hover {
  background-color: black;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  color: #1a1a1a;
}
.btn-complement-black:hover {
  color: black;
  background-color: #1a1a1a;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: white;
  border: 0;
}
.btn-white:hover {
  background-color: #e6e6e6;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: black;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.navbar .container, .navbar-white .container, .navbar-black .container, .navbar-gray .container, .navbar-purple .container, .navbar-orange .container, .navbar-yellow .container, .navbar-red .container, .navbar-blue .container, .navbar-green .container, .navbar-info .container, .navbar-error .container, .navbar-dark .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-green, .navbar-info, .navbar-error, .navbar-dark, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-green, .navbar-info, .navbar-error, .navbar-dark, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px #533939;
}
.navbar .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-gray .site-title, .navbar-purple .site-title, .navbar-orange .site-title, .navbar-yellow .site-title, .navbar-red .site-title, .navbar-blue .site-title, .navbar-green .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-dark .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #D7F171;
}

.navbar-secondary {
  background-color: #533939;
}

.navbar-dark {
  background-color: #292929;
}

.navbar-error {
  background-color: rgb(204, 0, 0);
}

.navbar-info {
  background-color: rgb(255, 217, 0);
}

.navbar-green {
  background-color: #c8ff01;
}

.navbar-blue {
  background-color: #8dd6db;
}

.navbar-red {
  background-color: #e02525;
}

.navbar-yellow {
  background-color: #e6d819;
}

.navbar-orange {
  background-color: #ffa600;
}

.navbar-purple {
  background-color: #a150e2;
}

.navbar-gray {
  background-color: #808080;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}