/* reset styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,200&display=swap');



* {
    color: $primary;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

body {
    font-family: Roboto Mono;
    background: map-get($colors, "black");
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted $primary;
}

img {
    max-width: 100%;
}