// variables

//colors
$primary: #D7F171;
$secondary: #533939;
$dark: #000000;
$error: red;
$info: yellow;

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thick: 1px;
$base-border-radius: 20px;