// variables

//theme colors
$primary: #D7F171;
$secondary: #52426d;
$dark: #292929;
$error: rgb(204, 0, 0);
$info: rgb(255, 217, 0);
$bg: black;

//color palette
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "error": $error,
    "info": $info,
    "green": #c8ff01,
    "blue": #8dd6db,
    "red": #e02525,
    "yellow": #e6d819,
    "orange": #ffa600,
    "purple": #a150e2,
    "gray": #808080,
    "black": black,
    "white": white
);

@debug map-get($colors, "green");

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thick: 1px;
$base-border-radius: 20px;

//box shadow
$base-box-shadow: 1px 3px 5px $primary;

//fonst sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;